
/* Unicorns Details Container */
#unicorn-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


/* Unicorn Card Item */
.unicorn-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.unicorn-item img {
    width: 200px;
}